header, nav, article, section, footer {
    border: 2px solid lightgrey;
    padding: 10px;
    margin: 5px;
    font-family: Arial, sans-serif;
    color: #555555;
    box-sizing: border-box;
}

header {
    border-color: salmon;
}
#logo {
    width: 80px;
}

#header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

nav div ul li  {
    display: inline-block;
    margin: 16px;
    border-color: yellow;
}
nav ul {
    padding: 0px;
    margin: 0px;
}

nav {
    border-color: seagreen;
}


.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: solid lightgrey;
}
article {
    border-color: cornflowerblue;
}

@media (min-width: 679px) {
    article {
        max-width: 780px;
    }
}
section {
    border-color: plum;
}


footer {
    border-color: darkmagenta;
    clear: both;
}